<section id="auth-layout">
    <header>
        <a href="" class="logo-cont">
            <img src="assets/images/logo.png" alt="">
        </a>
    </header>
    <div class="inner-cont">
        <div class="left-cont">
            <img src="assets/images/auth-img.png" alt="">
        </div>
        <div class="right-cont">
            <form>
                <h1>Login</h1>
                <div class="form-group">
                    <input type="text" placeholder="Enter your email">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Enter your password">
                    <i class="fa fa-eye-slash"></i>
                </div>
                <div class="remember-cont">
                    <div>
                        <input type="checkbox">
                        <label for="">Remember me</label>
                    </div>
                    <a href="" class="primary-color">Forget password?</a>
                </div>
                <button class="btn-primary">Login</button>
                <div class="other-cont">
                    <div class="border-line">
                        <div>OR</div>
                    </div>
                    <a href="" class="other-btn">
                        <svg width="24" height="32" viewBox="0 0 24 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_406_949)">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M23.5 16.2724C23.5 15.4218 23.4236 14.6037 23.282 13.8184H11.9897V18.4594H18.4424C18.1645 19.9591 17.3197 21.2298 16.0499 22.0805V25.0908H19.9249C22.192 23.0021 23.5 19.9263 23.5 16.2724Z"
                                    fill="#4285F4" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.9897 27.9977C15.227 27.9977 17.9411 26.9234 19.9249 25.0909L16.0499 22.0806C14.9763 22.8004 13.6029 23.2258 11.9897 23.2258C8.86706 23.2258 6.22371 21.1153 5.28078 18.2795H1.27539V21.388C3.24811 25.309 7.30279 27.9977 11.9897 27.9977Z"
                                    fill="#34A853" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M5.28084 18.2796C5.04104 17.5597 4.90489 16.7907 4.90489 16C4.90489 15.2092 5.04118 14.4403 5.28097 13.7204V10.6118H1.27532C0.436003 12.2837 -0.000731789 14.129 9.20426e-07 16C9.20426e-07 17.9359 0.463207 19.7684 1.27532 21.3881L5.28084 18.2796Z"
                                    fill="#FBBC05" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.9899 8.77397C13.7503 8.77397 15.3307 9.37932 16.5733 10.5683L20.0121 7.12708C17.9358 5.19104 15.2217 4.0022 11.9899 4.0022C7.30293 4.0022 3.24825 6.69076 1.27539 10.6119L5.28092 13.7204C6.22385 10.8845 8.86706 8.77397 11.9899 8.77397Z"
                                    fill="#EA4335" />
                            </g>
                            <defs>
                                <clipPath id="clip0_406_949">
                                    <rect width="23.5" height="32" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        <span>Continue with Google</span>
                    </a>
                    <a href="" class="other-btn">
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M2.50244 15.0024C2.5039 21.1517 6.97544 26.3875 13.0487 27.3512V18.6149H9.87744V15.0024H13.0524V12.2524C12.9105 10.9494 13.3556 9.65067 14.267 8.7086C15.1784 7.76652 16.4616 7.2787 17.7687 7.37743C18.7069 7.39258 19.6427 7.47614 20.5687 7.62743V10.7012H18.9887C18.4447 10.6299 17.8979 10.8096 17.5022 11.1895C17.1064 11.5694 16.9047 12.1085 16.9537 12.6549V15.0024H20.4174L19.8637 18.6162H16.9537V27.3512C23.5218 26.3132 28.1276 20.3147 27.4343 13.7013C26.7411 7.08789 20.9916 2.17484 14.351 2.52141C7.71039 2.86797 2.5035 8.35282 2.50244 15.0024Z"
                                fill="#4267B2" />
                        </svg>
                        <span>Continue with Facebook</span>
                    </a>
                </div>
                <div class="bottom-text">Don’t have an account? <a href="" class="primary-color"><b>Sign up</b></a></div>
            </form>
        </div>
    </div>
</section>