<section id="user-layout">
    <header>
        <div class="custom-cont">
            <div class="links">
                <a href="" class="logo-cont">
                    <img src="assets/images/logo.png" alt="">
                </a>
                <ul class="links">
                    <a href="" class="active">Overview</a>

                    <a href="">Memorials</a>

                    <a href="">Settings</a>
                </ul>
            </div>
            <div class="user-cont">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.35" y="0.35" width="39.3" height="39.3" rx="19.65" stroke="#BAC0D4" stroke-opacity="0.7"
                        stroke-width="0.7" />
                    <path
                        d="M12.8984 22.0772C12.7389 23.1227 13.452 23.8484 14.325 24.2101C17.6721 25.5966 22.3299 25.5966 25.6769 24.2101C26.55 23.8484 27.263 23.1227 27.1035 22.0772C27.0055 21.4347 26.5208 20.8996 26.1618 20.3772C25.6914 19.6844 25.6447 18.9289 25.6446 18.125C25.6446 15.0184 23.1179 12.5 20.001 12.5C16.8841 12.5 14.3573 15.0184 14.3573 18.125C14.3573 18.9289 14.3105 19.6844 13.8402 20.3772C13.4811 20.8996 12.9964 21.4347 12.8984 22.0772Z"
                        stroke="#171717" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                        d="M17 25.2495C17.3439 26.5434 18.5566 27.4995 20 27.4995C21.4434 27.4995 22.6561 26.5434 23 25.2495"
                        stroke="#171717" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <div class="profile">
                    <div class="img-cont">
                        <img src="assets/images/Avatar.png" alt="">
                    </div>
                    <div>Ralph Edwards</div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="content">
            <div class="top-cont">
                <div>
                    <h1>Welcome, Jonathan</h1>
                    <p>Manage and share memorial of loves ones</p>
                </div>
                <a href="" class="btn btn-primary">Create Memorial</a>
            </div>
            <div class="flex-cont">
                <div class="small-col">
                    <div>Memorials</div>
                    <h2>0</h2>
                </div>
                <div class="small-col">
                    <div>Memorial Visitors</div>
                    <h2>0</h2>
                </div>
                <div class="small-col">
                    <div>Donations</div>
                    <h2><span>$</span>0.00</h2>
                </div>
                <div class="small-col">
                    <div>Collaborators</div>
                    <h2>0</h2>
                </div>
            </div>
            <div class="table-cont">
                <div class="top-table">
                    <div>Recent memorial</div>
                    <a href="" class="primary-color">See all</a>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Details</th>
                            <th>Status</th>
                            <th>Created</th>
                            <th>Visitor</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td colspan="5">
                                <div class="no-data">
                                    <img src="assets/images/Vector.svg" alt="">
                                    <div>No memorials</div>
                                    <p>You currently have no memorials yet.</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</section>